<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Haven</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <style>
        @import url(//fonts.googleapis.com/css?family=Lato:300:400);
    </style>
</head>
<body>
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <img src="../static/image/logo-white.png" alt="Mind Haven">
    </div>
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="container">
      <div class="feature-box">
        <a href="/register" class="btn btn-primary">Get Started</a>
      <p>Begin your journey to a more tranquil mind today. Sign up now and take the first step towards a healthier, more mindful you.</p>
      <p> MindHaven is not just an app; it's your sanctuary for mental wellness.</p>
    </div>
      <h2>Welcome to MindHaven</h2>
        <p>Embark on a journey to cultivate a serene mind with MindHaven, your personal haven for mental well-being. Our all-in-one mental fitness tracker empowers you to navigate the ebb and flow of daily life with calmness and clarity.</p>

        <div class="feature-box">
            <h2>Mindful Tracking</h2>
            <p>Seamlessly monitor your mental well-being through intuitive NLP, ML-powered chatbot interactions, and AI-enhanced journaling.</p>
        </div>

        <div class="feature-box">
            <h2>Tranquil Design</h2>
            <p>Immerse yourself in a soothing experience with our thoughtfully designed UI, featuring calming bluish shades and gentle ocean waves.</p>
        </div>

        <div class="feature-box">
            <h2>Personalized Insights</h2>
            <p>Receive actionable insights tailored to your journey, helping you understand, manage, and improve your mental health.</p>
        </div>

        <div class="feature-box">
            <h2>Daily Reflections</h2>
            <p>Engage in reflective journaling to enhance self-awareness, track progress, and celebrate your moments of triumph.</p>
        </div>

        <div class="feature-box">
            <h2>Intelligent Assistance</h2>
            <p>Let our AI-powered chatbot be your guide, offering support, motivation, and gentle nudges when you need them the most.</p>
        </div>
        
    </div>
    <!--Content ends-->
    
</body>
</html>
